@media screen and (max-width:768px) {
    .mobile-logo {
        display: flex !important;
        align-items: center;
        justify-content: center;

    }

    .user-form .login {
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    header:not(.fixed) .navigation {
        border-bottom: none !important;
        margin-bottom: 54px !important;
    }
}